$blue: #34548B;
$light-blue: #A1B5D0;
$red: #F36F61;
$light-green: #BED442;
$green: #83CB53;

.navbar{
    background-color: $blue;
  }
  .effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background-color: $light-green;
    color: white;
    font-size: 16px;
    padding: 10px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
  }
  .effect.effect-1 {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: "\f061";
      font-family: FontAwesome;
      font-size: 15px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      opacity: 0;
      height: 100%;
      width: 40px;
      transition: all 0.2s linear 0s;
    }
    
    &:hover {
      text-indent: -20px;
      
      &:before {
        opacity: 1;
        text-indent: 0px;
      }
    }
  }
  
  .navbar-brand{
    border-radius: 50%;
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
  }

.bread-container{
  background-color: $light-green;
}
.row-breadcrumb{
  background-color: $blue;
}
.breadcrumb{
  border-radius: 0px 10px 10px 0px !important;
}
.breadcrumb-p{
  color: white;
}
.fa-angle-double-right {
  color: white !important;
}
.breadcrumb>li+li:before {
  content: "" !important;
}

.map-container {
	
	width: 80%;
	height: 80%;
	position: absolute;
	border-radius: 1%;
}

h1{
	line-height: 130%;
}

h4{
	line-height: 130%;
}


.box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20%;
	padding-bottom: 20%;
  }

i{
	font-size: 20px;
	
}

.fw-bolder{
	padding-top: 3%;
	font-size: 40px;
	color: white;
	letter-spacing: 2px;
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.cuerpo{
	background-color: $blue;
	font-family: 'Plus Jakarta Sans', sans-serif; 
	
	
}

.text-center{
	font-family: 'Plus Jakarta Sans', sans-serif; 
	font-size: 25px;
	letter-spacing: 3px;

}

.card-header{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #83CB53;
	text-align: center;
	letter-spacing: 1px;
}

.card-body{
	font-size: 15px;
	
}



.card-title{
	
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Plus Jakarta Sans', sans-serif; 
}
.card {
	border-color: rgba(0, 0, 0, 0.41);
	border-width: 1px;
	
}

p {
	line-height: 26px;
}

.card-text{
	text-align: justify;
}

h1 {
  	font-size: 2.5em;
	margin-bottom: 1em;
	grid-column: 1/13;
	grid-row: 1/2;
  	font-weight: bold;
	color: white;
}

h4 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

img{
	height: 350px;
	width: 650px;
}