<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css" rel="stylesheet" />
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel=’stylesheet"/>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar">
    <div class="container">
        <img class="navbar-brand" src="assets/images/NBHD.png" routerLink="/" alt="">
        <div class="mx-auto"></div>
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="effect effect-1" [routerLink]="['/localidad', localidad, tipo]">Atrás</a>
        </li>
        </ul>
    </div>
</nav>
<div>
  <div class="row row-breadcrumb">
      <div class="col-auto col-md-10 ">
          <nav aria-label="breadcrumb" class="second" >
              <ol class="breadcrumb px-md-4 bread-container">
                  <li class="breadcrumb-item" ><p class="breadcrumb-p"><i class="fa fa-angle-double-right " aria-hidden="true"></i><span class="mr-md-3 mr-2"> Localidad</span><i class="fa fa-angle-double-right " aria-hidden="true"></i></p></li>
                  <li class="breadcrumb-item"><p class="breadcrumb-p"><span>Inmueble</span></p></li>
              </ol>
          </nav>
      </div>
  </div>
</div>

<div class="cuerpo">
  
  <div class="container">
    <div class="text-center">
        <h1 class="fw-bolder">{{nombre}}</h1>
        <!-- <p class="lead mb-0">A Bootstrap 5 starter layout for your next blog homepage</p> -->
    </div>
  </div>

  <div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src={{imagenes[0]}} class="d-block w-100" alt="...">
                  </div>
                  <div *ngFor="let imagen of imagenes" class="carousel-item">
                    <img src="{{imagen}}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
                <div class="card-body">
                    
                    <h2 class="card-title">{{habitaciones}} Habitaciones&nbsp; |&nbsp;  {{banos}} Baños&nbsp; |&nbsp; {{m2}}²</h2>
                    <p class="card-text">{{descripcion}}</p>
                    
                </div>
            </div>
            
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
              <div class="card-header">Teléfono</div>
              <div class="card-body">
                
                <i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp; <a href="tel:+34{{telefono}}">{{telefono}}</a>
              </div>
            </div>
  
            <div class="card mb-4">
                <div class="card-header">Precio</div>
                <div class="card-body">
                  <i class="bi bi-cash-coin"></i>&nbsp;&nbsp;&nbsp;&nbsp; {{precio}} €
                </div>
            </div>
            
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Características</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                              <li *ngFor="let carac of caracteristicas">
                                <i>✔&nbsp;&nbsp;&nbsp;&nbsp;</i>{{carac}}
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <h4 class="text-center">Lugares de interés cerca de "{{nombre}}"</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="box">
          <div id="map" class="map-container"> </div>
        </div>
      </div>
    </div>
  </div>
  

</div>